body{
    background-color: gainsboro;
}
#title{
    text-align: center;
}
h3{
    text-align: center;
}
#img-caption{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    padding: 10px;
    
}
#img-div img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
#img-div{
    background-color: white;
}
#tribute-info{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#tribute-info h2{
   text-align: center;
}